POSTGRES_HOST=${postgres_service}
POSTGRES_PORT=5432
RABBIT_MQ_HOST=${rabbit_service}
RABBIT_MQ_PORT=5672
RABBIT_MQ_QUEUE_NAME=messagequeue
RABBIT_MQ_EXCHANGE=messagequeue-exchange
SESSION_SERVICE_HOST=${session_service}
SESSION_SERVICE_PORT=8081
HOTEL_SERVICE_HOST=${hotel_service}
HOTEL_SERVICE_PORT=8082
BOOKING_SERVICE_HOST=${booking_service}
BOOKING_SERVICE_PORT=8083
PAYMENT_SERVICE_HOST=${payment_service}
PAYMENT_SERVICE_PORT=8084
LOYALTY_SERVICE_HOST=${loyalty_service}
LOYALTY_SERVICE_PORT=8085
REPORT_SERVICE_HOST=${report_service}
REPORT_SERVICE_PORT=8086
GATEWAY_SERVICE_HOST=${gateway_service}
GATEWAY_SERVICE_PORT=8087